.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/__pycache__
packages/valory/contracts/__pycache__
packages/valory/skills/__pycache__

packages/open_aea
packages/valory/connections
packages/valory/contracts/agent_registry
packages/valory/contracts/agreement_store_manager
packages/valory/contracts/conditional_tokens
packages/valory/contracts/delegate
packages/valory/contracts/did_registry
packages/valory/contracts/erc20
packages/valory/contracts/escrow_payment_condition
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/ierc1155
packages/valory/contracts/lock_payment_condition
packages/valory/contracts/mech
packages/valory/contracts/mech_marketplace
packages/valory/contracts/mech_marketplace_legacy
packages/valory/contracts/mech_mm
packages/valory/contracts/multisend
packages/valory/contracts/nft_sales
packages/valory/contracts/nvm_balance_tracker_native
packages/valory/contracts/nvm_balance_tracker_token
packages/valory/contracts/realitio
packages/valory/contracts/realitio_proxy
packages/valory/contracts/service_registry
packages/valory/contracts/subscription_provider
packages/valory/contracts/transfer_nft_condition
packages/valory/protocols
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/mech_interact_abci
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci
packages/valory/skills/termination_abci
packages/valory/skills/transaction_settlement_abci

leak_report
__pycache__
temp/
agent/
.env

ethereum_private_key.txt
keys.json
./market_maker/
fetched_service/
keys_json/
market_approval_server/market_approval_server.log
market_approval_server/server_config.json
creator_service
.idea
