.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/__pycache__
packages/valory/contracts/__pycache__
packages/valory/skills/__pycache__

packages/valory/protocols
packages/valory/connections

packages/valory/contracts/gnosis_safe
packages/valory/contracts/service_registry
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/multisend
packages/valory/contracts/service_registry
packages/valory/contracts/delegate

packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci
packages/valory/skills/termination_abci
packages/valory/skills/transaction_settlement_abci
packages/open_aea

leak_report
__pycache__
temp/
agent/