.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/__pycache__
packages/valory/contracts/__pycache__
packages/valory/skills/__pycache__

packages/valory/protocols
packages/valory/connections/abci
packages/valory/connections/http_client
packages/valory/connections/ipfs
packages/valory/connections/ledger
packages/valory/connections/p2p_libp2p_client

packages/valory/contracts/gnosis_safe
packages/valory/contracts/service_registry
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/multisend
packages/valory/contracts/service_registry
packages/valory/contracts/delegate
packages/valory/contracts/conditional_tokens
packages/valory/contracts/realitio
packages/valory/contracts/realitio_proxy

packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci
packages/valory/skills/termination_abci
packages/valory/skills/transaction_settlement_abci
packages/open_aea

leak_report
__pycache__
temp/
agent/
.env

ethereum_private_key.txt
keys.json
./market_maker/
fetched_service/
keys_json/
market_approval_server/market_approval_server.log
market_approval_server/server_config.json
creator_service
.idea
